*{
  padding:0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.first-section{
  background-color: rgb(0, 0, 0);
  color: white;
 
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  background-color: rgb(125, 103, 169);
  padding: 20px
}
.linkedgroup{
  display: flex;
  margin-right: 100px;
  gap: 30px;
  font-size: 20px;

}
.linkitems1:hover{
  margin-bottom: 10px;
}
.HeaderLogo{
  margin-left: 100px;
}

.header2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;

}
.left1{
  display: flex;
  flex-direction: column;
  flex-basis: 390px;
  margin-left: 100px;
  gap: 5px;
  ;
}
.right1{
  background-color: rgb(57, 109, 158);
  margin-right: 100px;
  text-align: right;
  padding: 50px 50px;
}
.signup{
  width: 100px;
  background-color: black;
  border-style: none;
  color: white;
  background-color: rgb(103, 169, 142);
  padding: 5px 0px;
  border-radius: 5px;
}
.second-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.sri{
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
}
.buttons{
  display: flex;
  gap: 50px;
  margin-bottom: 10px;
}
.button1{
  padding: 60px;
  background-color: white;
  border-style: solid;
  border-color: rgb(80, 109, 130);
  border-radius: 5px;
  border-width: 3px;
}
.information{
 display: flex;
 gap: 50px;
 text-align: center;
}
.text{
  width: 120px;
}
.third-section{
  margin-top: 50px;
  display: flex;
  background-color: rgb(216, 216, 216);
  flex-direction: column;

  padding: 100px
}
.quote{
  display: flex;
  text-align: left;
  font-size: 30px;
  font-style: italic;
  color: rgb(75, 75, 75);


}
.author{
  display: flex;
  text-align: left;
  align-items: flex-end;
  justify-content: right;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;

}
.fourth-section{
  display: flex;
  padding: 100px;
  justify-content: center;
}
.blue-section{
  display: flex;
  background-color: rgb(103, 169, 142);
  padding: 40px 100px ;
  align-items: center;
  color: white;
  border-radius: 5px;

}
.left2{
  display: flex;
  flex-direction: column;
}
.signup2{
  padding-left: 100px;
}
.signup3{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  border-radius: 5px;
  border-style: solid;
  color: white;
  border-color: white;
  background-color: rgb(103, 169, 142);
  border-width: 2px;

}
.h13{
  font-weight: bold;
  font-size: 20px;
}
.fifth-section{
  background-color: black;
  color: white;
  text-align: center;
  PADDING: 30PX
}